<!DOCTYPE html>
<html lang="en" style="height: 100vh; max-height: 100vh; overflow-y: hidden; overflow-x: hidden; -webkit-padding-start: 0px;">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimal-ui, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Csík Orsi</title>
    <link rel="stylesheet" type="text/css" href="../static/css/orsi.css">
</head>

<body>
    <div id="wrapper">
        <p class="title">Digital Design Works</p>
        <a class="section" href="http://www.kagpacks.hu" target="_blank" style="background-image: url('../static/img/kag.jpg');">
            <p>Kag Website</p>
        </a>
        <a class=" section" href="{{ url_for('inq') }}" target="_blank" style="background-image: url('../static/img/inq.jpg');">
            <p>INQ womenswear catalogue</p>
        </a>
        <a class="section" href="{{ url_for('portfolio') }}" target="_blank" style="background-image: url('../static/img/portfolio.jpg');">
            <p>Apparel Design portfolio</p>
        </a>
    </div>
</body>

</html>