<!DOCTYPE html>
<html lang="en" style="height: 100vh; max-height: 100vh; overflow-y: hidden; overflow-x: hidden; -webkit-padding-start: 0px;">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimal-ui, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>INQ</title>
    <link rel="stylesheet" type="text/css" href="../static/css/orsi.css">
</head>

<body>
    <iframe
        src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=fdhjl7hra"
        seamless="seamless"
        scrolling="no"
        frameBorder="0"
        allowFullScreen>
    </iframe>
</body>

</html>